.box {
    border: 1px solid black;
    width:500px;
    height: 600px;

}

.item-img {
    width: 400px;
}

.main {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn-wrap button {
    margin-right: 30px;
}
.btn-wrap button:last-child {
    margin-right: 0;
}

.btn {
    width: 100px;
    height: 100px;

}

.tie {
    border: 3px solid black;
}

.win {
    border: 3px solid green ;
}

.lose {
    border: 3px solid red;
}